.arrow {
    font-size: 50px;
}
.slide{
    position: relative;
    left: 70%;
    transform: translateX(-50%);
}

.slide img{
    height: 286px;
    object-fit: cover;
    width: 1000px;   
    border-radius: 5px;
}