:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

.wrapper {
    position: relative;
    clear: both;
    width: 1140px;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    margin-bottom: 100px;
}

.container {
    font-size: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.actions {
    margin: auto;
    padding: 0 20px;
}

.typeContainer {
    padding: 16px 16px 16px 0;
    margin-bottom: 10px;

    &_title {
        font-size: 18px;
        font-weight: 700;
        color: #222;
        padding: 0 0 12px 16px;
    }

    &_types {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 8px 0;
        margin-left: 110px;
    }
}

.priceLabel {
    color: black;
    padding-right: 20px;
}

.typeContainerStart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.selectImage {
    background-color: var(--primary-dark);
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
}

.imageContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    max-width: 500px;
}

.image {
    height: 100px;
    object-fit: cover;
    transition: 1s ease;
    margin: 5px;
}

.imgWrapper {
    max-width: 100px;
    margin: 10px;
    position: relative;
}

.image {
    opacity: 1;
    transition: 1s ease;
    width: 100%;
}

.image:hover {
    opacity: .8;
    transition: .3s ease;
}

.loaderContainer {
    margin-left: 100px;
}

.deleteIcon {
    position: absolute;
    right: -5px;
    top: 0;
    font-size: 20px;
    color: #fff;
    background-color: crimson;
}

.sendButtonContainer {
    display: flex;
    justify-content: center;
}

// Button Animation

.sendButton {
    width: 230px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.checkBox {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.checkBox svg {
    width: 40px;
    margin: 20px;
}

// svg path {
//     stroke-width: 3;
//     stroke: #fff;
//     stroke-dasharray: 34;
//     stroke-dashoffset: 34;
//     stroke-linecap: round;
// }


.active .checkBox {
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p {
    margin-right: 125px;
    transition: 1s;
}

.active svg path {
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}

// .btn {
//     // width: 100px;
//     // height: 60px;
//     padding: 12px 24px;
//     border-radius: 10px;
//     border: 2px solid red;
//     background-color: #fff;
//     color: red;
//     outline: none;
//     cursor: pointer;
//     font-size: 20px;
//     margin-bottom: 10px;
// }

.container.active .btn {
    animation: animate-line 0.3s ease-in, spinner 0.5s infinite;
    animation-delay: 0.1s, 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.container.active .text {
    display: none;
    font-size: 20px;
}

.btn {
    // width: 100px;
    // height: 60px;
    padding: 12px 24px;
    border-radius: 10px;
    border: 2px solid var(--primary);
    background-color: #fff;
    color: var(--primary);
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn:disabled {
    cursor: not-allowed;
}