/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"); */
@import "../../constants/css/css_constants.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans Armenian", "Open Sans", "lucida grande", tahoma, arial,
    sans-serif;
}
:root {
  --index: calc(1vh + 1vw);
  --font: sans-serif;

  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #fff;
}

body {
  line-height: 1.5;
  background-color: #f6f6f6;
}

.cardWrapper {
  position: relative;
  min-width: 1000px;
  width: 1140px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
}

.cardd {
  position: relative;
  margin-top: 5%;
  padding: 0;
}
.imgDisplay {
  position: relative;
}

.imgShowcase {
  position: relative;
  width: 740px;
  max-width: 740px;
  min-width: 700px;
  transition: all 0.5s ease;
}

.imgShowcase img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.imgSelect {
  display: flex;
}

.imgItem:hover {
  opacity: 0.8;
}

.productTitle {
  max-width: 700px;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  color: #12263a;
  margin: 0;
}

/* .product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
} */

.productLink:hover {
  opacity: 0.9;
}

.productPrice {
  margin: 0.2rem 0;
  font-size: 1rem;
  font-weight: 900;
}
.productLocation {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  width: 8rem;
  gap: 5px;
}

.locName {
  font-weight: 400;
  font-size: 1.2rem;
  color: black;
}

.locIcon {
  color: gray;
  font-weight: 400;
  font-size: 1.5rem;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  font-size: 20px;
  color: black;
}

.productPrice span {
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
}

.newPrice span {
  color: #256eff;
}

.productDetail h2 {
  text-transform: capitalize;
  color: #12263a;
  margin-top: 20px;
  padding-bottom: 0.3rem;
}

.productDetail p {
  font-size: 1.2rem;
  padding: 0.3rem;
  color: black;
}

.detailsIcons {
  font-size: 17px;
  margin-right: 4px;
  color: var(--primary-dark);
}

.productDetail ul li span {
  font-weight: 400;
}

.purchaseInfo {
  background: #fff;
  display: flex;
  width: 100%;
  height: 270px;
  flex-direction: column;
  align-items: center;
  padding: 20px 12px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 8px 8px 0 0;
}

.btns {
  margin-top: 30px;
  width: 180px;
  flex-direction: column;
  display: block;
  top: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.purchaseInfo .btn {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.btnNow {
  width: 180px;
  font-size: 16px;
  background-color: var(--primary-dark);
}
.btnNow:hover {
  background-color: var(--primary-dark);
}

.btnFav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  font-size: 16px;
  background-color: #0c72ea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid;
  transition: 0.3s ease;
  letter-spacing: 1px;
}

.btnFav:hover {
  opacity: 0.8;
  background-color: #0c72ea;
  /* border: 1px solid var(--own-black);
  color: var(--own-black); */
  transition: 0.3s ease;
}

.purchaseInfo .btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.socialLinks {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  height: 107px;
  width: 100%;
}

.since {
  font-size: 11px;
  color: #888;
}

.userImg {
  height: calc(var(--index) * 3);
  width: calc(var(--index) * 2.5);
  padding: 0;
}
.userIcon {
  width: 100%;
  height: 100%;
}

.userName {
  font-size: 20px;
}

.additions {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  /* display: block; */
  height: 85px;
  bottom: 0;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  background-color: #fff;
  margin: 6px auto;
  padding: 16px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0;
}

.checkIcon {
  font-size: 33px;
  color: var(--own-lightGreen);
  display: flex;
  justify-content: center;
  align-items: center;
}
.additions p {
  color: black;
  font-size: 12px;
}

.addition {
  /* display: inline-block; */
  width: 80px;
  opacity: 0.8;
  height: 50px;
  /* height: 100%;
  width: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.samilarProductsDiv p {
  font-size: 14px;
  font-weight: bold;
  color: #393939;
  display: block;
  padding: 0 0 6px 2px;
  text-align: left;
  letter-spacing: 1px;
}
.samilarProductsDiv {
  width: 100%;
  height: auto;
  margin: 6px 0 0 0;
  padding: 10px;
  border-top: 1px solid #f2f2f2;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}

.samilarProducts {
  display: flex;
  flex-direction: column;
}
.samilarProduct {
  cursor: pointer;
  width: 318px;
  display: flex;
  flex-direction: row;
}
.samilarProduct img {
  width: 140px;
  height: 105px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 10px;
}
.samilarProductText {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.samilarProductTitle {
  font-size: 14px;
  margin: 10px 0 10px 2px;
  color: #222;
}
.samilarProductPrice {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  margin-top: 4px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 380px;
  min-height: 360px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  /* margin-left: 20px; */
}

.fav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  cursor: pointer;
  font-size: 23px;
}
.favIcon {
  opacity: 0.5;
  color: black;
  transition: 0.3s ease;
}
.favIconActive {
  transition: 0.3s ease;
  color: crimson;
}
p{
  margin: 0;
}
